@charset "UTF-8";
@font-face {
  font-family: "segoeui1";
  src: local("☺"), url("../fonts/segoeui.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "segoeuil";
  src: local("☺"), url("../fonts/segoeuil.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

/* line 3, ../sass/partials/_checkradio.scss */
input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background-color: #36a9e1;
  margin: 0;
  cursor: pointer;
  vertical-align: bottom;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

/* line 22, ../sass/partials/_checkradio.scss */
input[type="radio"] {
  background-color: transparent;
  background-image: url(../img/wcbiz.p-app.ru/radio.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-position: -27px 0;
}

/* line 28, ../sass/partials/_checkradio.scss */
input[type="checkbox"]:checked {
  background-image: url(../img/wcbiz.p-app.ru/input-checked.png);
  background-repeat: no-repeat;
  background-position: left top;
  box-shadow: none;
  border: none;
}

/* line 34, ../sass/partials/_checkradio.scss */
input[type="radio"]:checked {
  background-position: 0 0;
  box-shadow: none;
  border: none;
}

/* line 54, ../sass/partials/_buttons.scss */
.btn-size-large {
  display: inline-block;
  width: 53.90374%;
}

/* line 58, ../sass/partials/_buttons.scss */
.btn-size-medium {
  display: inline-block;
  width: 15.40107%;
}

/* line 63, ../sass/partials/_buttons.scss */
.btn-size-normal {
  display: inline-block;
  width: 12.51337%;
}

/* line 68, ../sass/partials/_buttons.scss */
.btn-size-small {
  display: inline-block;
  width: 4.81283%;
}

/* line 15, ../sass/index.scss */
html {
  background-image: url(../img/wcbiz.p-app.ru/bg-top.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-repeat: repeat-x;
  height: 100%;
  width: 100%;
}

/* line 22, ../sass/index.scss */
body {
  font-family: "segoeui1";
  background-image: url(../img/wcbiz.p-app.ru/bg-bottom.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-repeat: repeat-x;
  background-position: 0 bottom;
  height: auto !important;
  min-height: 100%;
  color: #575756;
  background-color: transparent;
}

/* line 35, ../sass/index.scss */
.container {
  max-width: 935px;
}

/* line 39, ../sass/index.scss */
.container {
  padding-left: 0;
  padding-right: 0;
}

/* line 64, ../sass/index.scss */
.col-sm-2 {
  padding-left: 0;
  padding-right: 0;
}

/* line 64, ../sass/index.scss */
.col-sm-3 {
  padding-left: 0;
  padding-right: 0;
}

/* line 64, ../sass/index.scss */
.col-sm-4 {
  padding-left: 0;
  padding-right: 0;
}

/* line 64, ../sass/index.scss */
.col-sm-5 {
  padding-left: 0;
  padding-right: 0;
}

/* line 64, ../sass/index.scss */
.col-sm-6 {
  padding-left: 0;
  padding-right: 0;
}

/* line 64, ../sass/index.scss */
.col-sm-7 {
  padding-left: 0;
  padding-right: 0;
}

/* line 64, ../sass/index.scss */
.col-sm-8 {
  padding-left: 0;
  padding-right: 0;
}

/* line 64, ../sass/index.scss */
.col-sm-9 {
  padding-left: 0;
  padding-right: 0;
}

/* line 64, ../sass/index.scss */
.col-sm-10 {
  padding-left: 0;
  padding-right: 0;
}

/* line 64, ../sass/index.scss */
.col-sm-11 {
  padding-left: 0;
  padding-right: 0;
}

/* line 64, ../sass/index.scss */
.col-sm-12 {
  padding-left: 0;
  padding-right: 0;
}

/* line 64, ../sass/index.scss */
.col-sm-13 {
  padding-left: 0;
  padding-right: 0;
}

/* line 70, ../sass/index.scss */
.row {
  margin-left: 0;
  margin-right: 0;
}

/* line 4, ../sass/partials/_mixins.scss */
.form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: white;
}
/* line 4, ../sass/partials/_mixins.scss */
.form-control::-moz-placeholder {
  /* WebKit browsers */
  color: white;
}
/* line 10, ../sass/partials/_mixins.scss */
.form-control:-moz-placeholder {
  /* WebKit browsers */
  color: white;
}
/* line 10, ../sass/partials/_mixins.scss */
.form-control:-ms-input-placeholder {
  /* WebKit browsers */
  color: white;
}

/* line 4, ../sass/partials/_mixins.scss */
.form-group .form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #b2b2b2;
}
/* line 4, ../sass/partials/_mixins.scss */
.form-group .form-control::-moz-placeholder {
  /* WebKit browsers */
  color: #b2b2b2;
}
/* line 10, ../sass/partials/_mixins.scss */
.form-group .form-control:-moz-placeholder {
  /* WebKit browsers */
  color: #b2b2b2;
}
/* line 10, ../sass/partials/_mixins.scss */
.form-group .form-control:-ms-input-placeholder {
  /* WebKit browsers */
  color: #b2b2b2;
}

/* line 80, ../sass/index.scss */
.form-group label.header {
  font-family: Helvetica;
  font-weight: normal;
  font-size: 14px;
}

/* line 86, ../sass/index.scss */
input.form-control {
  color: #3C3C3B;
}

/* line 92, ../sass/index.scss */
.navbar .navbar-collapse {
  padding: 0;
}
/* line 95, ../sass/index.scss */
.navbar .nav-item {
  width: 101px;
}
/* line 98, ../sass/index.scss */
.navbar .nav-item a {
  background-color: #8f8f8f;
  font-weight: lighter;
  text-align: center;
  font-size: 13px;
  color: #fff;
  padding: 5px 0;
}
/* line 106, ../sass/index.scss */
.navbar .nav-item a:hover {
  background-color: rgba(143, 143, 143, 0.9);
}
/* line 113, ../sass/index.scss */
.navbar .nav-item.nav-item1 a {
  background-color: rgba(143, 143, 143, 0.4);
}
/* line 115, ../sass/index.scss */
.navbar .nav-item.nav-item1 a:hover {
  background-color: rgba(0, 141, 201, 0.4);
}
/* line 113, ../sass/index.scss */
.navbar .nav-item.nav-item2 a {
  background-color: rgba(143, 143, 143, 0.55);
}
/* line 115, ../sass/index.scss */
.navbar .nav-item.nav-item2 a:hover {
  background-color: rgba(0, 141, 201, 0.55);
}
/* line 113, ../sass/index.scss */
.navbar .nav-item.nav-item3 a {
  background-color: rgba(143, 143, 143, 0.7);
}
/* line 115, ../sass/index.scss */
.navbar .nav-item.nav-item3 a:hover {
  background-color: rgba(0, 141, 201, 0.7);
}
/* line 113, ../sass/index.scss */
.navbar .nav-item.nav-item4 a {
  background-color: rgba(143, 143, 143, 0.85);
}
/* line 115, ../sass/index.scss */
.navbar .nav-item.nav-item4 a:hover {
  background-color: rgba(0, 141, 201, 0.85);
}
/* line 113, ../sass/index.scss */
.navbar .nav-item.nav-item5 a {
  background-color: #8f8f8f;
}
/* line 115, ../sass/index.scss */
.navbar .nav-item.nav-item5 a:hover {
  background-color: #008dc9;
}
/* line 122, ../sass/index.scss */
.navbar .nav-search {
  padding: 0;
  font-size: 12px;
}
/* line 125, ../sass/index.scss */
.navbar .nav-search input, .navbar .nav-search button {
  font-size: 12px;
  color: #fff;
  border: 0;
  background-color: #b2b2b2;
}
/* line 131, ../sass/index.scss */
.navbar .nav-search input {
  height: auto;
  padding-top: 7px;
  padding-bottom: 5px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 138, ../sass/index.scss */
.navbar .nav-search button:hover {
  background-color: rgba(178, 178, 178, 0.9);
}
/* line 142, ../sass/index.scss */
.navbar .nav-search .search-icon {
  height: 29px;
  background-image: url(../img/wcbiz.p-app.ru/search-icon.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-position: center 50%;
}

/* line 150, ../sass/index.scss */
.custom-btn-group {
  margin: 10px 0;
}

/* line 155, ../sass/index.scss */
#header {
  margin-top: 10px;
}
/* line 157, ../sass/index.scss */
#header.row > div {
  padding: 0;
}
/* line 160, ../sass/index.scss */
#header .slogan-top {
  font-family: "segoeui1";
  font-size: 25px;
  color: #575756;
  font-weight: lighter;
}
/* line 166, ../sass/index.scss */
#header .header-right-col {
  text-align: right;
}
/* line 170, ../sass/index.scss */
#header .phone {
  font-size: 20px;
  display: inline-block;
  padding: 5px 0 20px 55px;
  background-image: url(../img/wcbiz.p-app.ru/phone.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-position: 0 40%;
  color: #36A8E0;
  margin: 10px 0 0 0;
}
/* line 178, ../sass/index.scss */
#header .phone .phone-title {
  color: #575756;
  font-size: 12px;
}

/* line 187, ../sass/index.scss */
#sidebar-right .row {
  margin-left: 0;
  margin-right: 0;
}
/* line 191, ../sass/index.scss */
#sidebar-right .block {
  list-style: none;
  text-align: right;
  font-size: 12px;
  margin-bottom: 10px;
}
/* line 196, ../sass/index.scss */
#sidebar-right .block.bottom-block {
  margin-top: 50px;
}
/* line 199, ../sass/index.scss */
#sidebar-right .block h2 {
  font-size: 12px;
  text-align: right;
  padding: 0;
  margin: 0;
  color: #36A9E1;
  font-weight: bold;
  font-family: "segoeui1";
}
/* line 208, ../sass/index.scss */
#sidebar-right .block p {
  line-height: 1.2;
  color: #575756;
}
/* line 213, ../sass/index.scss */
#sidebar-right .block.bottom-social {
  margin-top: 30px;
}
/* line 215, ../sass/index.scss */
#sidebar-right .block.bottom-social a {
  display: inline-block;
  background-image: url(../img/wcbiz.p-app.ru/social.png);
  background-repeat: no-repeat;
  background-position: left top;
  width: 29px;
  height: 29px;
  margin: 0 0 0 5px;
  background-position: 0px 0;
}
/* line 32, ../sass/partials/_mixins.scss */
#sidebar-right .block.bottom-social a:hover {
  background-position: 0px -30px;
}
/* line 35, ../sass/partials/_mixins.scss */
#sidebar-right .block.bottom-social a:active {
  background-position: 0px -61px;
}
/* line 222, ../sass/index.scss */
#sidebar-right .block.bottom-social a.fb {
  background-position: -35px 0;
}
/* line 32, ../sass/partials/_mixins.scss */
#sidebar-right .block.bottom-social a.fb:hover {
  background-position: -35px -30px;
}
/* line 35, ../sass/partials/_mixins.scss */
#sidebar-right .block.bottom-social a.fb:active {
  background-position: -35px -61px;
}
/* line 225, ../sass/index.scss */
#sidebar-right .block.bottom-social a.vk {
  background-position: -70px 0;
  background-position: -70px 0;
}
/* line 32, ../sass/partials/_mixins.scss */
#sidebar-right .block.bottom-social a.vk:hover {
  background-position: -70px -30px;
}
/* line 35, ../sass/partials/_mixins.scss */
#sidebar-right .block.bottom-social a.vk:active {
  background-position: -70px -61px;
}

/* line 235, ../sass/index.scss */
#footer #pay {
  margin: 0;
}
/* line 237, ../sass/index.scss */
#footer #pay > div {
  display: table-cell;
  text-align: center;
  padding: 0;
}
/* line 242, ../sass/index.scss */
#footer #pay > div a {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin-right: 33px;
}
/* line 247, ../sass/index.scss */
#footer #pay > div a:last-child {
  margin-right: 0;
}
/* line 252, ../sass/index.scss */
#footer #pay > div .pm4 {
  width: 33px;
  height: 52px;
}
/* line 255, ../sass/index.scss */
#footer #pay > div .pm4:hover img {
  margin-top: -52px;
}
/* line 260, ../sass/index.scss */
#footer #pay > div .pm5 {
  width: 144px;
  height: 27px;
}
/* line 263, ../sass/index.scss */
#footer #pay > div .pm5:hover img {
  margin-top: -27px;
}
/* line 268, ../sass/index.scss */
#footer #pay > div .pm6 {
  width: 109px;
  height: 48px;
}
/* line 271, ../sass/index.scss */
#footer #pay > div .pm6:hover img {
  margin-top: -48px;
}
/* line 276, ../sass/index.scss */
#footer #pay > div .pm7 {
  width: 95px;
  height: 41px;
}
/* line 279, ../sass/index.scss */
#footer #pay > div .pm7:hover img {
  margin-top: -41px;
}
/* line 284, ../sass/index.scss */
#footer #pay > div .pm8 {
  width: 114px;
  height: 39px;
}
/* line 287, ../sass/index.scss */
#footer #pay > div .pm8:hover img {
  margin-top: -39px;
}
/* line 292, ../sass/index.scss */
#footer #pay > div .pm9 {
  width: 111px;
  height: 31px;
}
/* line 295, ../sass/index.scss */
#footer #pay > div .pm9:hover img {
  margin-top: -31px;
}
/* line 300, ../sass/index.scss */
#footer #pay > div .pm10 {
  width: 107px;
  height: 30px;
}
/* line 303, ../sass/index.scss */
#footer #pay > div .pm10:hover img {
  margin-top: -30px;
}

/* line 312, ../sass/index.scss */
#content .form-layout {
  padding-right: 12px;
}

/* line 320, ../sass/index.scss */
a.social {
  display: inline-block;
  background-image: url(../img/wcbiz.p-app.ru/social.png);
  background-repeat: no-repeat;
  background-position: left top;
  width: 29px;
  height: 29px;
  margin: 0 0 0 5px;
  background-color: white;
  background-position: 0px 0;
}
/* line 327, ../sass/index.scss */
a.social:first-child {
  margin: 0;
}
/* line 32, ../sass/partials/_mixins.scss */
a.social:hover {
  background-position: 0px -30px;
}
/* line 35, ../sass/partials/_mixins.scss */
a.social:active {
  background-position: 0px -61px;
}
/* line 331, ../sass/index.scss */
a.social.fb {
  background-position: -35px 0;
}
/* line 32, ../sass/partials/_mixins.scss */
a.social.fb:hover {
  background-position: -35px -30px;
}
/* line 35, ../sass/partials/_mixins.scss */
a.social.fb:active {
  background-position: -35px -61px;
}
/* line 334, ../sass/index.scss */
a.social.vk {
  background-position: -70px 0;
  background-position: -70px 0;
}
/* line 32, ../sass/partials/_mixins.scss */
a.social.vk:hover {
  background-position: -70px -30px;
}
/* line 35, ../sass/partials/_mixins.scss */
a.social.vk:active {
  background-position: -70px -61px;
}

/* line 340, ../sass/index.scss */
.social-dropdown-toggle {
  width: 143px;
  text-align: center;
  background-color: #95c11f;
  padding: 9px 7px;
}

/* line 355, ../sass/index.scss */
label .info {
  color: #36a9e1;
  display: inline-block;
  position: relative;
  top: -4px;
  left: 3px;
}

/* line 364, ../sass/index.scss */
#helper {
  margin-top: 25px;
}
/* line 366, ../sass/index.scss */
#helper .popover {
  display: block;
  width: 143px;
  padding: 0 7px;
  opacity: 0.9;
  margin-top: 0px;
}
/* line 367, ../sass/index.scss */
#helper .popover .popover-title {
  font-style: normal;
}
/* line 376, ../sass/index.scss */
#helper .popover .form-group {
  margin: 0;
}
/* line 380, ../sass/index.scss */
#helper .popover .popover-content {
  padding-top: 0px;
}
/* line 382, ../sass/index.scss */
#helper .popover .popover-content p {
  margin-bottom: 5px;
}

/* line 389, ../sass/index.scss */
.search-bank1 {
  width: 285px;
  font-size: 12px;
  padding-right: 0;
  padding-left: 9px;
}
/* line 394, ../sass/index.scss */
.search-bank1 .select2-choice {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #36a9e1;
  border: none;
  padding-left: 0;
}
/* line 400, ../sass/index.scss */
.search-bank1 .select2-choice:hover {
  background-color: #62bce8;
}
/* line 407, ../sass/index.scss */
.search-bank1:hover .select2-chosen,
.search-bank1:hover .select2-choice,
.search-bank1:hover .select2-arrow {
  background-color: #62bce8;
}
/* line 411, ../sass/index.scss */
.search-bank1 .select2-chosen {
  background-color: #36a9e1;
  color: #fff;
  padding: 0;
  margin: 0;
  text-align: left;
}
/* line 417, ../sass/index.scss */
.search-bank1 .select2-chosen:hover {
  background-color: #62bce8;
}

/* line 423, ../sass/index.scss */
#select2-drop {
  font-size: 12px;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0;
}
/* line 431, ../sass/index.scss */
#select2-drop input.select2-input {
  padding-left: 9px;
  border: 1px solid #bbe2f5;
}
/* line 435, ../sass/index.scss */
#select2-drop .select2-search {
  background-color: #36a9e1;
  padding-left: 9px;
  padding-right: 9px;
  min-height: 34px;
  z-index: 999;
}
/* line 442, ../sass/index.scss */
#select2-drop .select2-results {
  background-color: #fff;
  margin: 0 9px;
  padding: 0;
  z-index: 1000;
  top: -7px;
  color: #B2B2B2;
  border: 1px solid #bbe2f5;
  border-top: none;
}
/* line 451, ../sass/index.scss */
#select2-drop .select2-results .select2-result-label {
  padding: 1px 9px 3px;
}
/* line 454, ../sass/index.scss */
#select2-drop .select2-results .select2-highlighted {
  color: #fff;
  background-color: #36a9e1;
}

/* line 461, ../sass/index.scss */
.search-bank {
  width: 270px;
}
/* line 463, ../sass/index.scss */
.search-bank.btn {
  text-align: left;
  padding: 11px 9px;
  font-size: 12px;
}
/* line 468, ../sass/index.scss */
.search-bank.btn:hover {
  color: #fff;
}

/* line 475, ../sass/index.scss */
.collapsed .caret {
  border-top: 4px solid #fff;
  border-bottom: 0 dotted;
}

/* line 480, ../sass/index.scss */
.caret {
  border-bottom: 4px solid #fff;
  border-top: 0 dotted;
}

/* line 486, ../sass/index.scss */
.mini.btn {
  padding: 10px 4px;
}
/* line 490, ../sass/index.scss */
.mini.collapsed .caret {
  border-top: 4px solid #fff;
  border-bottom: 0 dotted;
}
/* line 495, ../sass/index.scss */
.mini .caret {
  border-bottom: 4px solid #fff;
  border-top: 0 dotted;
}

/* line 501, ../sass/index.scss */
#search-collapse-box {
  width: 285px;
  padding: 0 8px 8px;
  background-color: #36a9e1;
}
/* line 505, ../sass/index.scss */
#search-collapse-box .form-group {
  margin-bottom: 0;
}
/* line 508, ../sass/index.scss */
#search-collapse-box .btn.search-icon span {
  border: none;
  font-size: 12px;
  width: 12px;
  height: 12px;
  top: -2px;
  left: -5px;
  right: auto;
}

/* line 519, ../sass/index.scss */
#search-bank {
  font-size: 12px;
  padding: 0 8px;
  height: 24px;
  border: none;
  box-shadow: none;
}

/* line 527, ../sass/index.scss */
.btn.search-icon {
  width: 20px;
  height: 24px;
  border: none;
  box-shadow: none;
  background-color: #fff;
  color: #000;
}

/* line 544, ../sass/index.scss */
.special-offer {
  background-color: #fff;
  background-image: url(../img/wcbiz.p-app.ru/special-offer.png);
  background-repeat: no-repeat;
  background-position: left top;
  height: 101px;
}
/* line 548, ../sass/index.scss */
.special-offer .offer-box {
  float: left;
  width: 125px;
  height: 100px;
  background-color: transparent;
}

/* line 557, ../sass/index.scss */
#exchange-main {
  margin-top: 15px;
}
/* line 559, ../sass/index.scss */
#exchange-main button[disabled] {
  background-color: #c6c6c6;
}
/* line 562, ../sass/index.scss */
#exchange-main .combobox {
  width: 204px;
  text-align: left;
}
/* line 565, ../sass/index.scss */
#exchange-main .combobox.item {
  padding-left: 54px;
}
/* line 569, ../sass/index.scss */
#exchange-main .btn {
  padding: 10px 2px 10px 12px;
}
/* line 572, ../sass/index.scss */
#exchange-main .ddright {
  padding: 10px 4px;
}
/* line 575, ../sass/index.scss */
#exchange-main ul.dropdown-menu {
  margin: 0;
  padding: 0;
  margin-top: -1px;
  position: absolute;
  width: 221px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  left: -1px;
  border-color: rgba(255, 255, 255, 0.15);
}
/* line 588, ../sass/index.scss */
#exchange-main ul.dropdown-menu li.item a {
  background-image: url(../img/wcbiz.p-app.ru/services.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding: 6px 13px 6px 55px;
  background-position: 13px 0px;
  background-repeat: repeat-y;
  line-height: 1;
  background-color: #36a9e1;
  color: #fff;
  border-bottom: 1px solid #62bce8;
}
/* line 597, ../sass/index.scss */
#exchange-main ul.dropdown-menu li.item a:hover {
  background-color: #62bce8;
}
/* line 602, ../sass/index.scss */
#exchange-main ul.dropdown-menu li.item.item1 a {
  background-position: 13px -0px;
}
/* line 602, ../sass/index.scss */
#exchange-main ul.dropdown-menu li.item.item2 a {
  background-position: 13px -27px;
}
/* line 602, ../sass/index.scss */
#exchange-main ul.dropdown-menu li.item.item3 a {
  background-position: 13px -54px;
}
/* line 602, ../sass/index.scss */
#exchange-main ul.dropdown-menu li.item.item4 a {
  background-position: 13px -81px;
}
/* line 602, ../sass/index.scss */
#exchange-main ul.dropdown-menu li.item.item5 a {
  background-position: 13px -108px;
}
/* line 602, ../sass/index.scss */
#exchange-main ul.dropdown-menu li.item.item6 a {
  background-position: 13px -135px;
}
/* line 602, ../sass/index.scss */
#exchange-main ul.dropdown-menu li.item.item7 a {
  background-position: 13px -162px;
}
/* line 602, ../sass/index.scss */
#exchange-main ul.dropdown-menu li.item.item8 a {
  background-position: 13px -189px;
}
/* line 602, ../sass/index.scss */
#exchange-main ul.dropdown-menu li.item.item9 a {
  background-position: 13px -216px;
}
/* line 602, ../sass/index.scss */
#exchange-main ul.dropdown-menu li.item.item10 a {
  background-position: 13px -243px;
}

/* line 616, ../sass/index.scss */
#from-service.item span, #to-service.item span {
  background-image: url(../img/wcbiz.p-app.ru/services.png);
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  width: 32px;
  height: 27px;
  background-repeat: repeat-y;
  top: 5px;
  left: 13px;
}
/* line 626, ../sass/index.scss */
#from-service.item1 span, #to-service.item1 span {
  background-position: 0px -0px;
}
/* line 626, ../sass/index.scss */
#from-service.item2 span, #to-service.item2 span {
  background-position: 0px -27px;
}
/* line 626, ../sass/index.scss */
#from-service.item3 span, #to-service.item3 span {
  background-position: 0px -54px;
}
/* line 626, ../sass/index.scss */
#from-service.item4 span, #to-service.item4 span {
  background-position: 0px -81px;
}
/* line 626, ../sass/index.scss */
#from-service.item5 span, #to-service.item5 span {
  background-position: 0px -108px;
}
/* line 626, ../sass/index.scss */
#from-service.item6 span, #to-service.item6 span {
  background-position: 0px -135px;
}
/* line 626, ../sass/index.scss */
#from-service.item7 span, #to-service.item7 span {
  background-position: 0px -162px;
}
/* line 626, ../sass/index.scss */
#from-service.item8 span, #to-service.item8 span {
  background-position: 0px -189px;
}
/* line 626, ../sass/index.scss */
#from-service.item9 span, #to-service.item9 span {
  background-position: 0px -216px;
}
/* line 626, ../sass/index.scss */
#from-service.item10 span, #to-service.item10 span {
  background-position: 0px -243px;
}

/* line 631, ../sass/index.scss */
#popup-helper-1, #popup-helper-2 {
  margin-top: 10px;
  margin-bottom: 30px;
}

/* line 635, ../sass/index.scss */
#popup-helper-2 {
  display: none;
}

/* line 638, ../sass/index.scss */
#layout-header-block-1 {
  display: none;
  margin-top: 5px;
}
/* line 641, ../sass/index.scss */
#layout-header-block-1 button {
  margin-top: 13px;
}
/* line 644, ../sass/index.scss */
#layout-header-block-1 input {
  font-family: 'helvetica';
  text-align: right;
  font-size: 18px;
  height: 27px;
  width: 219px;
}

/* line 652, ../sass/index.scss */
.help-how-block {
  font-size: 12px;
  margin-top: 20px;
}
/* line 655, ../sass/index.scss */
.help-how-block h4 {
  margin-bottom: 15px;
}
/* line 658, ../sass/index.scss */
.help-how-block ol {
  counter-reset: li;
  /* Initiate a counter */
  margin-left: 0;
  /* Remove the default left margin */
  padding-left: 0;
  /* Remove the default left padding */
}
/* line 663, ../sass/index.scss */
.help-how-block ol > li {
  position: relative;
  /* Create a positioning context */
  margin: 0 0 6px 1.5em;
  /* Give each list item a left margin to make room for the numbers */
  padding: 0px 0px;
  /* Add some spacing around the content */
  list-style: none;
  /* Disable the normal item numbering */
  font-size: 12px;
}
/* line 670, ../sass/index.scss */
.help-how-block ol > li:before {
  content: counter(li) ".";
  /* Use the counter as content */
  counter-increment: li;
  /* Increment the counter by 1 */
  /* Position and style the number */
  position: absolute;
  top: -2px;
  left: -20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Some space between the number and the content in browsers that support
     generated content but not positioning it (Camino 2 is one example) */
  margin-right: 8px;
  padding: 0px 3px;
  color: #333;
  background: #36a9e1;
  text-align: center;
}
/* line 690, ../sass/index.scss */
.help-how-block li ol,
.help-how-block li ul {
  margin-top: 6px;
}
/* line 691, ../sass/index.scss */
.help-how-block ol ol li:last-child {
  margin-bottom: 0;
}

/* line 694, ../sass/index.scss */
.news-block {
  margin-left: 20px;
  font-size: 12px;
}
/* line 697, ../sass/index.scss */
.news-block h2 {
  color: #36a9e1;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 20px;
}
/* line 703, ../sass/index.scss */
.news-block ul {
  padding-left: 20px;
  padding-right: 40px;
}

/* line 709, ../sass/index.scss */
#addition-info {
  margin-top: 30px;
}

/* line 713, ../sass/index.scss */
#breadcrumb {
  margin-top: 10px;
}
/* line 715, ../sass/index.scss */
#breadcrumb .breadcrumb {
  margin-bottom: 5px;
}

/* line 722, ../sass/index.scss */
#layout-1-block-3 .field-1 {
  margin-top: 8px;
}
/* line 725, ../sass/index.scss */
#layout-1-block-3 .field-2 {
  margin-top: -10px;
}
/* line 728, ../sass/index.scss */
#layout-1-block-3 .or-title {
  position: relative;
  left: -29px;
  margin-top: 17px;
}

/* line 734, ../sass/index.scss */
.pocket-control {
  background-image: url(../img/wcbiz.p-app.ru/bg-pocket.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-position: 5px center;
  padding-left: 1.5em;
}

/* line 741, ../sass/index.scss */
.order-layout-2-1 {
  margin-top: 15px;
  line-height: 1.3;
  font-size: 13px;
}
/* line 745, ../sass/index.scss */
.order-layout-2-1 .order-layout-2-1-1 {
  margin-top: 35px;
}

/* line 751, ../sass/index.scss */
.order-layout-2-2 {
  line-height: 1.3;
}
/* line 753, ../sass/index.scss */
.order-layout-2-2 .success-message {
  padding-left: 5px;
  font-size: 13px;
}
/* line 756, ../sass/index.scss */
.order-layout-2-2 .success-message strong {
  display: inline-block;
  margin: 10px 0;
}

/* line 763, ../sass/index.scss */
.order-layout-2-3 {
  margin-top: 40px;
}
/* line 765, ../sass/index.scss */
.order-layout-2-3 .title {
  font-size: 15px;
}

/* line 770, ../sass/index.scss */
.order-layout-3 {
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 13px;
}
/* line 775, ../sass/index.scss */
.order-layout-3 .order-layout-3-3 .form-group {
  margin-bottom: 0;
}
/* line 779, ../sass/index.scss */
.order-layout-3 .order-layout-3-2 {
  margin-top: 30px;
}
/* line 781, ../sass/index.scss */
.order-layout-3 .order-layout-3-2 .alert {
  font-size: 13px;
}
/* line 786, ../sass/index.scss */
.order-layout-3 .order-layout-3-1 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 794, ../sass/index.scss */
#breadcrumb .complite {
  background-color: #878787;
  background-image: url(../img/wcbiz.p-app.ru/breadcrumb-arrow-1.png);
  background-repeat: no-repeat;
  background-position: left top;
}
/* line 797, ../sass/index.scss */
#breadcrumb .complite:first-child {
  background-image: none;
}

/* line 804, ../sass/index.scss */
.pagination li > a > span {
  font-family: arial;
  font-size: 12px;
}
