
//Imports
//@import "vendors/_compass";
@import "partials/_mixins";
@import "compass/css3/";
@import "lib/_variables";
@import "partials/_fonts";
@import "partials/_varibles";
	$navBgColor: rgba( 143, 143, 143, 1 );
	$navBgColorHover: rgba( 0, 141, 201, 1 );
@import "partials/_checkradio";
//Buttons styles
@import "partials/_buttons";
//Common Resets Styles
html{
@include bg-img("bg-top.png");
	background-repeat: repeat-x;	
	height: 100%;
	width: 100%;

}
body{
	font-family: "#{$cssFontName}";
	@include bg-img("bg-bottom.png");
	background-repeat: repeat-x;
	background-position: 0 bottom;

	height: auto !important;
	min-height: 100%;
	color: #575756;
	background-color: transparent;
}

//Bootstrap Reset Classes
.container{
	max-width: 935px;
}

.container{
	padding-left: 0;
	padding-right: 0;	
}
//checkbox
// input[type=checkbox], input[type=radio]{
// -webkit-appearance: none;
// appearance: none;
// width: 13px;
// height: 13px;
// margin: 0;
// cursor: pointer;
// vertical-align: bottom;
// background: #fff;
// border: 1px solid #dcdcdc;
// -webkit-border-radius: 1px;
// -moz-border-radius: 1px;
// border-radius: 1px;
// -webkit-box-sizing: border-box;
// -moz-box-sizing: border-box;
// box-sizing: border-box;
// position: relative;
// }

@for $i from 1 through 12 {
.col-sm-#{($i + 1)} {
	padding-left: 0;
	padding-right: 0;
}
}

.row{
	margin-left: 0;
	margin-right: 0;
}

@include placeholder-color(".form-control", #fff );
@include placeholder-color(".form-group .form-control", #B2B2B2);
.form-group label{
	//font-size: 12px;
	//color: #3C3C3B;
	&.header{
		font-family: Helvetica;
		font-weight: normal;
		font-size: 14px;
	}
}
input.form-control{
	color: #3C3C3B;
}

//navbar
.navbar{
	.navbar-collapse{
		padding: 0;
	}
	.nav-item{
		width: 101px;
		
		a{
			background-color: $navBgColor;
			font-weight: lighter;
			text-align: center;
			font-size: 13px;
			color: #fff;
			padding: 5px 0;
						
			&:hover{
				background-color: rgba( $navBgColor, .9);
			}		
			
		}
		@for $i from 0 through 4 {
  			&.nav-item#{($i + 1)} { 
  				a {
  					background-color: rgba( $navBgColor, 0.4 + ($i + 0.5*$i)/10 ); 
  					&:hover{
							background-color: rgba( $navBgColorHover, 0.4 + ($i + 0.5*$i)/10 );
						}	
  				}
  			}
			}//@for		
	}
	.nav-search{
		padding: 0;
		font-size: 12px;
		input, button{
			font-size: 12px;
			color: #fff;
			border: 0;
			background-color: $btnlightGray; 		
		}
		input{
			height: auto;
			padding-top: 7px;
			padding-bottom: 5px;
			@include box-shadow(none);
		}
		button{
			&:hover{
				background-color: rgba( $btnlightGray, 0.9); 
			}
		}
		.search-icon{
			height: 29px;
			@include bg-img("search-icon.png");
			background-position: center 50%;
		}
	}
}
//demo classes
.custom-btn-group{
	margin: 10px 0;
}

//**************Header
#header{
	margin-top: 10px;
	&.row>div{
		padding:0;
	}
	.slogan-top{
		font-family: "#{$cssFontName}";
		font-size: 25px;
		color: #575756;
		font-weight: lighter;
	}
	.header-right-col{
		text-align: right;

	}
	.phone{
		font-size: 20px;
		display: inline-block;
		padding: 5px 0 20px 55px;
		@include bg-img("phone.png");
		background-position: 0 40%;
		color: #36A8E0;
		margin: 10px 0 0 0;
		.phone-title{
			color: #575756;
			font-size: 12px;
		}
	}
}

//						SIDEBAR - right
#sidebar-right{
	.row{
		margin-left: 0;
		margin-right: 0;}
	
	.block{
		list-style: none;
		text-align: right;
		font-size: 12px;
		margin-bottom: 10px;
		&.bottom-block{
			margin-top: 50px;
		}
		h2{
			font-size: 12px;
			text-align: right;
			padding: 0;
			margin: 0;
			color: #36A9E1;
			font-weight: bold;
			font-family: "#{$cssFontName}"
		}
		p{
			line-height: 1.2;
			color: #575756; 
		}
		
		&.bottom-social{
			margin-top: 30px;
			a{
				display: inline-block;
				@include bg-img("social.png");
				width: 29px;
				height: 29px;
				margin: 0 0 0 5px;
				@include bk-pos-hover-activ-y( 0px );
				&.fb{
					@include bk-pos-hover-activ-y( -35px );
				}
				&.vk{
					@include bk-pos-hover-activ-y( -70px );
					background-position: -70px 0;
				}
			}
		}
	}
}
#footer{
	
	#pay{
		margin: 0;
		& > div{
		display: table-cell;
		text-align: center;
		//width: 935px;
		padding: 0;
		a{ 
			overflow: hidden;
			display: inline-block;
			vertical-align: middle;
			margin-right: 33px;
			&:last-child{
				margin-right: 0;
			}
			
		}
		.pm4{
			width:33px;
			height:52px;
			&:hover img {
				margin-top:-52px;
			}
		}
                        
		.pm5{
			width:144px;
			height:27px;
			&:hover img {
				margin-top:-27px;
			}
		}
                        
		.pm6{
			width:109px;
			height:48px;
			&:hover img {
				margin-top:-48px;
			}
		}
                        
		.pm7{
			width:95px;
			height:41px;
			&:hover img {
				margin-top:-41px;
			}
		}
                        
		.pm8{
			width:114px;
			height:39px;
			&:hover img {
				margin-top:-39px;
			}
		}
                        
		.pm9{
			width:111px;
			height:31px;
			&:hover img {
				margin-top:-31px;
			}
		}
                        
		.pm10{
			width:107px;
			height:30px;
			&:hover img {
				margin-top:-30px;
			}
		}
	}
	}
}

#content{
	.form-layout{
		padding-right: 12px; 
	}
}




a.social{
			display: inline-block;
			@include bg-img("social.png");
			width: 29px;
			height: 29px;
			margin: 0 0 0 5px;
			background-color: white;
			&:first-child{
				margin: 0;
			}
			@include bk-pos-hover-activ-y( 0px );
			&.fb{
				@include bk-pos-hover-activ-y( -35px );
			}
			&.vk{
				@include bk-pos-hover-activ-y( -70px );
				background-position: -70px 0;
			}			
		}

.social-dropdown-toggle{
	width: 143px;
	text-align: center;
	background-color: $brand-success;
	padding: 9px 7px;
}
// @for $i from 0 through 12 {
// 	@for $j from 0 through 12{
// 		.X-Y-#{$i}-#{$j}{
// 			margin-top: 0px;
// 		}
// 	}
// }
//Content - form layot - * -color
label {
		.info{
			color: $brand-info;
			display: inline-block;
			position: relative;
			top: -4px;
			left: 3px;
		}
}
//Content - Helper popover
#helper{
	margin-top: 25px;
	.popover{
		.popover-title{
			// color: #fff;
			font-style: normal;
		}
		display: block;
		width: 143px;
		padding: 0 7px;
		opacity: 0.9;
		margin-top: 0px;
		.form-group{
			margin: 0;
		}		
		.popover-content 
		{
			padding-top: 0px;
			p{
				margin-bottom: 5px;
			}
		}
	}
}
// Поиск банкои
.search-bank{
	width: 270px;
	&.btn{
		text-align: left;
		padding: 11px 9px;
		font-size: 12px;
	}
	&.btn:hover{
		color: #fff;
	}
	
}

.collapsed{
		.caret{
			border-top: 4px solid #fff;
			border-bottom: 0 dotted;
		}			
	}
	.caret{
		border-bottom: 4px solid #fff;
		border-top: 0 dotted;
	}

.mini{
	&.btn{
		padding: 10px 4px;
	}
	&.collapsed{
		.caret{
			border-top: 4px solid #fff;
			border-bottom: 0 dotted;
		}			
	}
	.caret{
		border-bottom: 4px solid #fff;
		border-top: 0 dotted;
	}
}

#search-collapse-box{
  width: 285px;
  padding: 0 8px 8px;
  background-color: #36a9e1;
	.form-group{
    margin-bottom: 0;
  }
  .btn.search-icon span{
		border: none;
		font-size: 12px;
		width: 12px;
		height: 12px;
		top: -2px;
		left: -5px;
		right: auto;
	}
}

#search-bank{
  font-size: 12px;
  padding: 0 8px;
  height: 24px;
  border: none;
  box-shadow: none;
}

.btn.search-icon{
  width: 20px;
  height: 24px;
  border: none;
  box-shadow: none;  
  background-color: #fff;
  color: #000;
}
// order layouts
#breadcrumb,
.order-layout-1,
.order-layout-2,
.order-layout-3, 
#helper{
	display: none;
}
// <!-- special-offer -->
.special-offer{
	background-color: #fff;
	@include bg-img("special-offer.png");
	height: 101px;
	.offer-box{
		float: left;
		width: 125px;
		height: 100px;
		background-color: transparent;

	}
}
//first drop-down
#exchange-main{
	margin-top: 15px;
	button[disabled]{
		background-color: #c6c6c6;
	}
	.combobox{
		width: 204px;
		text-align: left;
		&.item{
			padding-left: 54px;
		}
	}
	.btn{
		padding: 10px 2px 10px 12px;
	}
	.ddright{
		padding: 10px 4px;	
	}
	ul.dropdown-menu{
		margin:0;
		padding: 0;
		
		margin-top: -1px;
		position: absolute;
		width: 221px;
		@include box-shadow( none );
		left: -1px;

		border-color: rgba( 255, 255, 255, 0.15 );
		li{
			&.item{
				a{
						@include bg-img("services.png");
						padding: 6px 13px 6px 55px;
						background-position: 13px 0px;
						background-repeat: repeat-y;
						line-height: 1;
						background-color: $brand-info;
						color: #fff;
						border-bottom: 1px solid lighten( $brand-info, 10% );
						&:hover{
							background-color: lighten( $brand-info, 10%);
						}
					}
				@for $i from 1 through 10 {	
					&.item#{$i} a{
						background-position: 13px -#{($i - 1) * 27}px;
					}
				}

			}
		}
	}
}

#from-service,#to-service{

	&.item {
		
		span{
			@include bg-img("services.png");
			position: absolute;
			width: 32px;
			height: 27px;
			background-repeat: repeat-y;
			top: 5px;
			left: 13px;
		}}
	@for $i from 1 through 10 {	
					&.item#{$i} span{
						background-position: 0px -#{($i - 1) * 27}px;
					}
				}
}
#popup-helper-1, #popup-helper-2{
	margin-top: 10px;
	margin-bottom: 30px;
}
#popup-helper-2{
	display: none;
}
#layout-header-block-1 {
	display: none;
	margin-top: 5px;
	button{
		margin-top: 13px;
	}
	input{
		font-family: 'helvetica';
		text-align: right;
		font-size: 18px;
		height: 27px;
		width: 219px;
	}
}
.help-how-block{
	font-size: 12px;
	margin-top: 20px;
	h4{
		margin-bottom: 15px;
	}
	ol {
	    counter-reset:li; /* Initiate a counter */
	    margin-left:0; /* Remove the default left margin */
	    padding-left:0; /* Remove the default left padding */
	}
	ol > li {
	    position:relative; /* Create a positioning context */
	    margin:0 0 6px 1.5em; /* Give each list item a left margin to make room for the numbers */
	    padding: 0px 0px; /* Add some spacing around the content */
	    list-style:none; /* Disable the normal item numbering */
	    font-size: 12px;
	}
	ol > li:before {
	    content:counter(li)"."; /* Use the counter as content */
	    counter-increment:li; /* Increment the counter by 1 */
	    /* Position and style the number */
	    position:absolute;
	    top:-2px;
	    left:-20px;
	    -moz-box-sizing:border-box;
	    -webkit-box-sizing:border-box;
	    box-sizing:border-box;
	    //width:1em;
	    /* Some space between the number and the content in browsers that support
	       generated content but not positioning it (Camino 2 is one example) */
	    margin-right:8px;
	    padding:0px 3px;
	    color: #333;
	    background: $brand-info;
	    text-align:center;
	}
	li ol,
	li ul {margin-top:6px;}
	ol ol li:last-child {margin-bottom:0;}
}
//NEWS
.news-block{
	margin-left: 20px;
	font-size: 12px;
	h2{
		color: $brand-info;
		font-size: 14px;
		font-style: italic;
		margin-bottom: 20px;
	}
	ul{
			padding-left: 20px;
			padding-right: 40px;
		}
}

#addition-info{
	margin-top: 30px;
}

#breadcrumb{
	margin-top: 10px;
	.breadcrumb{
		// padding: 5px 15px;
		margin-bottom: 5px;
	}
}

#layout-1-block-3{
	.field-1{
		margin-top: 8px;
	}
	.field-2{
		margin-top: -10px;
	}
	.or-title{
		position: relative;
		left: -29px;
		margin-top: 17px;		
	}
}
.pocket-control{
	@include bg-img("bg-pocket.png");
	background-position: 5px center;
	padding-left: 1.5em;
}

//Информация о заказе
.order-layout-2-1{
	margin-top: 15px;
	line-height: 1.3;
	font-size: 13px;
	.order-layout-2-1-1{
		margin-top: 35px;
	}
}

//Сообщение об успешном совершении платежа
.order-layout-2-2{
	line-height: 1.3;
	.success-message{
		padding-left: 5px;
		font-size: 13px;
		strong{
			display: inline-block;
			margin: 10px 0;
		}
	}
}

.order-layout-2-3{
	margin-top: 40px;
	.title{
		font-size: 15px;
	}
}

.order-layout-3{
	margin-top: 15px;
	margin-bottom: 0px;
	font-size: 13px;
	.order-layout-3-3{
		.form-group{
			margin-bottom: 0;
		}
	}
	.order-layout-3-2{
		margin-top: 30px;
		.alert{
			font-size: 13px;
		}
	}
	.order-layout-3-1{
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
		}}
}

#breadcrumb{
	.complite{
		background-color: #878787;
		@include bg-img("breadcrumb-arrow-1.png");
		&:first-child{
			background-image: none;
		}
	}
}

.pagination{
	li > a > span{
		font-family: arial;
		font-size: 12px;
	}
}